# This file is a sample configuration file for a RIOT system module generator.
# Commented out options are considered as optional, others are mandatory

[global]
# This section contains the global parameters used by all generators
# (application, board, driver, test)

# Author name written in copyright headers, default uses output of 'git config'
author_name=

# Author email written in copyright headers, default uses output
# of 'git config'
author_email=

# Author organization (University, Institute, Company name, personal name)
# default uses author_name
organization=

[module]
# This section contains module specific parameters

# mandatory, name of the system module in RIOT (used to name the corresponding
# directory and doxygen group name)
name=test

# mandatory, the displayed module name in doxygen documentation
displayed_name=

# mandatory, the Doxygen brief description of the system module
brief=
