# This file is a sample configuration file for a RIOT example application
# generator. Commented out options are considered as optional, others are
# mandatory

[global]
# This section contains the global parameters used for all generators
# (application, board, driver, test)

# Author name written in copyright headers, default uses output of 'git config'
author_name=

# Author email written in copyright headers, default uses output
# of 'git config'
author_email=

# Author organization (University, Institute, Company name, personal name)
# default uses author_name
organization=

[example]
# This section contains example application specific parameters

# The application name used by the build system, should not contain spaces and
# is mandatory
name=

# The brief description written in the doxygen comment block. optional, default
# value is an empty string
brief=

# The application must target a board by default
board=native

# Comma separated modules, packages and board features dependencies
# (example: xtimer,fmt)
modules=
packages=
features_required=
