/**
 * @defgroup pkg_{{ context.pkg.name }}   {{ context.pkg.displayed_name }}
 * @ingroup  pkg
 * @brief    {{ context.pkg.description }}
 *
 * # Introduction
 *
 * Put an introduction of the package here 
 *
 * # License
 * 
 * Licensed under {{ context.pkg.license }}.
 *
 * @see      {{ context.pkg.url }}
 */
