/*
 * Copyright (C) {{ global.year }} {{ global.organization }}
 *
 * This file is subject to the terms and conditions of the GNU Lesser
 * General Public License v2.1. See the file LICENSE in the top level
 * directory for more details.
 */

/**
 * @ingroup tests
 * @{
 *
 * @file
 * @brief       {{ test.brief }}
 *
 * @author      {{ global.author_name }} <{{ global.author_email }}>
 *
 * @}
 */

#include <stdio.h>

int main(void)
{
    puts("Generated RIOT test application");

    return 0;
}
