/*
{% if global.license == "MIT" %}
 * MIT License
 *
{% endif %}
{% if global.license != "Apache2" %}
 * Copyright (C) {{ global.year }} {{ global.organization }}
 *
{% endif %}
{{ global.license_header }}
 */

/**
 * @ingroup     tests
 * @{
 *
 * @file
 * @brief       {{ test.brief }}
 *
 * @author      {{ global.author_name }} <{{ global.author_email }}>
 *
 * @}
 */

#include <stdio.h>

int main(void)
{
    puts("Generated RIOT test application");

    return 0;
}
