/*
 * Copyright (C) {{ global.year }} {{ global.organization }}
 *
 * This file is subject to the terms and conditions of the GNU Lesser
 * General Public License v2.1. See the file LICENSE in the top level
 * directory for more details.
 */

/**
 * @ingroup     module_{{ module.name }}
 * @{
 *
 * @file
 * @brief       {{ module.displayed_name }} implementation
 *
 * @author      {{ global.author_name }} <{{ global.author_email }}>
 *
 * @}
 */

#include "{{ module.name }}.h"

/* Implementation of the module */
