/*
 * Copyright (C) {{ global.year }} {{ global.organization }}
 *
 * This file is subject to the terms and conditions of the GNU Lesser
 * General Public License v2.1. See the file LICENSE in the top level
 * directory for more details.
 */

/**
 * @ingroup     drivers_{{ driver.name }}
 * @{
 *
 * @file
 * @brief       Internal addresses, registers and constants
 *
 * @author      {{ global.author_name }} <{{ global.author_email }}>
 */

#ifndef {{ driver.name|upper }}_CONSTANTS_H
#define {{ driver.name|upper }}_CONSTANTS_H

#ifdef __cplusplus
extern "C" {
#endif

/* define here the addresses, register and constants of the driver */

#ifdef __cplusplus
}
#endif

#endif /* {{ driver.name|upper }}_CONSTANTS_H */
/** @} */
