{% include "common/header-headerfile.j2" %}

/**
 * @ingroup     drivers_{{ driver.name }}
 * @{
 *
 * @file
 * @brief       Internal addresses, registers and constants
 *
 * @author      {{ global.author_name }} <{{ global.author_email }}>
 */

#ifdef __cplusplus
extern "C" {
#endif

/* define here the addresses, register and constants of the driver */

#ifdef __cplusplus
}
#endif

/** @} */
