CPU = {{ context.board.cpu }}
CPU_MODEL = {{ context.board.cpu_model }}

# Put defined MCU peripherals here (in alphabetical order)
{% for feature in context.board.features %}
FEATURES_PROVIDED += {{ feature }}
{% endfor %}
