/*
 * Copyright (C) {{ context.example.year }} {{ context.example.organization }}
 *
 * This file is subject to the terms and conditions of the GNU Lesser
 * General Public License v2.1. See the file LICENSE in the top level
 * directory for more details.
 */

/**
 * @ingroup     examples
 * @{
 *
 * @file
 * @brief       {{ context.example.brief }}
 *
 * @author      {{ context.example.author_name }} <{{ context.example.author_email }}>
 *
 * @}
 */

#include <stdio.h>

int main(void)
{
    puts("Generated RIOT example: '{{ context.example.name }}'");
    return 0;
}
